.env
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
node_modules/
dist/
build/
.vite/
*.log
storage/
models/*.pkl
dataset/*.csv
.DS_Store
.idea/
.vscode/
*.sqlite
*.sqlite3
db.sqlite3
coverage/
.coverage
